@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



*,
*::before {
  box-sizing: border-box;
}


body {
  z-index: 1;
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
  background-color: $dark;
  color: $white;
  font-family: $body-font;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: $base-line-height;
  opacity: 1;
  @media #{$mq-retina} {
    font-size: $base-font-size*2;
  }
}

.body-wrapper{
    @include transition;
    padding-top:100px;
    @media #{$mq-medium}{
        padding-top: 130px;
    }
}


::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}



ul {
  padding: 0;
  list-style: none;
}

 p {
  margin: 0 0 $base-spacing;
  text-wrap: pretty;
}
a{
    text-decoration: none;
    color:$dark
}


h1,h2,h3,h4,h5,h6 {
  line-height: $header-line-height;
  font-family: $header-font;
  margin: 0;
  font-weight: 400;

}

h1{
    font-size: calc($base-font-size*4.5); 
    margin-bottom:$sm;
    font-weight:500;
}
h2{
    font-size: calc($base-font-size*2.5);
}
h3{
    font-size: calc($base-font-size*2.1); 
    line-height:1em;
    font-weight: 500;
    margin-bottom: $base-font-size*.7;
}


.large-p{
    font-size: calc($base-font-size*1.7);
    line-height: 1.1em;
}

@media #{$mq-small} {
    h1{font-size: calc($base-font-size*8.9);}
    h2{font-size: calc($base-font-size*6.25);}
    .large-p{
        font-size: calc($base-font-size*1.9);
    }
}
@media #{$mq-medium} {
    h1{font-size: calc($base-font-size*5.8);}
    h2{font-size: calc($base-font-size*4.8);}
}
@media #{$mq-desktop} {
    h1{font-size: calc($base-font-size*8);}
    h2{font-size: calc($base-font-size*6.25);}
}
@media #{$mq-figma} {
    h1{font-size: calc($base-font-size*9.2);}
}
@media #{$mq-large} {
    h1{font-size: calc($base-font-size*11.2);}
}


.text-center{
    text-align: center;
  }
  
  .text-right{
    text-align: right;
  }
  

.btn{
    display: flex;
    a{
        background-color: $base-accent-color;
        padding: $base-font-size*.6 $base-font-size*1.5;
        color: $dark;
        text-decoration: none;
        border-radius: 6vw;
        &:hover{
            @include transition;
            background-color: $white;
        }
    }

}
button{
    border:none;
    display: flex;
    border-radius: 6vw; 
    background-color: $dark;
    padding: $base-font-size*.6 $base-font-size*1.5;
    color: $white;
    font-size: $base-font-size;
    line-height: 1em;
    &:hover{
        @include transition;
        background-color: $base-accent-color;
        color: $dark;
    }
}
  
.dark{
    background-color: $dark;
    h1,h2,h3,h4,h5,h6{
        color:$base-accent-color;
    }
    ul li a,
    p, input, textarea, select{
        color:$white;
    }
  }

  .accent{
    background-color: $base-accent-color;;
    h1,h2,h3,h4,h5,h6{
        color:$dark
    }
    .dark p{
        color:$white
    }
    p, input, textarea, select{
        color:$dark
    }

  }

  .light{
    background-color: $light;
    color:$dark;
    h1,h2,h3,h4,h5,h6{
        color:$dark;
    }
    ul li a,
    p, input, textarea, select{
        color:$dark;
    }
  }



/**
 * image related
 */

figure{
    margin: 0;
}
img {
  width:100%;
}

.img-fit{
    width: 100%;
    height:100vw;
    object-fit: cover;
    @media #{$mq-medium}{
        height: 40vw;
    }
}


.bg-cover{
  @include bg-img-pos(50% 50%, cover);
  min-height:300px
}


svg {
  overflow: visible !important;
  z-index: 1;
}


/**
 * width, padding and wrappers
 */




.pad-all{
  padding:$base-font-size*3.76 $base-font-size*1.88;
}

.pad-sides{
  padding-left:$base-font-size*1.88;
  padding-right:$base-font-size*1.88;

  @media #{$mq-medium} {
    &.no-left{
      padding-left:0
    }
    &.no-right{
      padding-right:0
    }
  }
}

.pad-top{
  padding-top: $base-font-size*3.76
}

.pad-btm{
  padding-bottom: $base-font-size*3.76
}





/**
 * flex
 */
.flex-wrap{
  display: flex;
  flex-direction:column;
  &.wrap{
    flex-wrap: wrap;
    flex-direction:row;
  }
  @media #{$mq-medium} {
    .half{
      flex:1;
      flex-basis: 50%;
      &.grow-vis{
        flex-basis: 65%;
      }
    }

    .third{
      flex:1;
      flex-basis: 33.33%;
    }
    &.col{
        flex-direction: column;
    }
    flex-direction:row;
  }
}



.cont-just-end,
.just-cont-center-row,
.img-align-item-center,
.cont-align-end,
.just-cont-center,
.just-cont-between,
.align-items-center,
.img-align-end{
  display: flex;
  
}

.img-align-end{
  align-items: flex-end;
}

.img-align-item-center{
  align-items: center;
}

.cont-align-end{
  flex-direction: column;
  justify-content: flex-end;
}

.cont-just-end{
  justify-content: flex-end;
}
.just-cont-between{
  flex-direction: column;
  justify-content: space-between;
}
.just-cont-center{
  flex-direction: column;
  justify-content: center;
}
.just-cont-center-row{
  justify-content: center;
}

.align-items-center{
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/////////
/// 
/// 
nav{
    position: fixed;
    width: 100%;
    left: 0;
    top:0;
    z-index: 5;
    font-size: $base-font-size*2;
    .fa-bars{
        color:$white;
    }
    .logo{
        max-height:40px
    }

    .mobile-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $dark;
        padding: $base-font-size*.5;
        z-index: 5;
        position: relative;
    }

    .desktop-nav{
        padding: $base-font-size;
        position: fixed;
        left: 0;
        top: -100%;
        display: block;
        width: 100%;
        transition: all 0.5s ease;
        background-color: $dark;
        z-index: 3;
        transition: top 0s linear;
        &.active{
            transition: top .3s linear;
            top:70px;
        }

        ul{
            padding:0;
            margin: 0;
            width: 100%;
            .logo-wrapper{
                display:none;
            }
            li{
                padding: $base-font-size 0;
            }
        }
    }

    @media #{$mq-small}{
        font-size: $base-font-size;
        height: 0;
        .mobile-nav{
            display:none;
        }
        .desktop-nav{
           position: relative;
           top:0;
            ul {
                display:flex;
                justify-content: space-between;
                align-items: center;
                .logo-wrapper{
                    display:block;
                }
                li{
                    padding:0 $base-font-size ;
                }
            }
        }
    }

}

