@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*,
*::before {
  box-sizing: border-box;
}

body {
  z-index: 1;
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2;
  opacity: 1;
}
@media (min-width: 220em) {
  body {
    font-size: 2em;
  }
}

.body-wrapper {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  padding-top: 100px;
}
@media (min-width: 64em) {
  .body-wrapper {
    padding-top: 130px;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 1em;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 0.95;
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 4.5em;
  margin-bottom: 40px;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.1em;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 0.7em;
}

.large-p {
  font-size: 1.7em;
  line-height: 1.1em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 8.9em;
  }
  h2 {
    font-size: 6.25em;
  }
  .large-p {
    font-size: 1.9em;
  }
}
@media (min-width: 64em) {
  h1 {
    font-size: 5.8em;
  }
  h2 {
    font-size: 4.8em;
  }
}
@media (min-width: 85.375em) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 6.25em;
  }
}
@media (min-width: 94em) {
  h1 {
    font-size: 9.2em;
  }
}
@media (min-width: 120em) {
  h1 {
    font-size: 11.2em;
  }
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  display: flex;
}
.btn a {
  background-color: #E3EC42;
  padding: 0.6em 1.5em;
  color: #000;
  text-decoration: none;
  border-radius: 6vw;
}
.btn a:hover {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  background-color: #fff;
}

button {
  border: none;
  display: flex;
  border-radius: 6vw;
  background-color: #000;
  padding: 0.6em 1.5em;
  color: #fff;
  font-size: 1em;
  line-height: 1em;
}
button:hover {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  background-color: #E3EC42;
  color: #000;
}

.dark {
  background-color: #000;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #E3EC42;
}
.dark ul li a,
.dark p, .dark input, .dark textarea, .dark select {
  color: #fff;
}

.accent {
  background-color: #E3EC42;
}
.accent h1, .accent h2, .accent h3, .accent h4, .accent h5, .accent h6 {
  color: #000;
}
.accent .dark p {
  color: #fff;
}
.accent p, .accent input, .accent textarea, .accent select {
  color: #000;
}

.light {
  background-color: #F6F2EA;
  color: #000;
}
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: #000;
}
.light ul li a,
.light p, .light input, .light textarea, .light select {
  color: #000;
}

/**
 * image related
 */
figure {
  margin: 0;
}

img {
  width: 100%;
}

.img-fit {
  width: 100%;
  height: 100vw;
  object-fit: cover;
}
@media (min-width: 64em) {
  .img-fit {
    height: 40vw;
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 300px;
}

svg {
  overflow: visible !important;
  z-index: 1;
}

/**
 * width, padding and wrappers
 */
.pad-all {
  padding: 3.76em 1.88em;
}

.pad-sides {
  padding-left: 1.88em;
  padding-right: 1.88em;
}
@media (min-width: 64em) {
  .pad-sides.no-left {
    padding-left: 0;
  }
  .pad-sides.no-right {
    padding-right: 0;
  }
}

.pad-top {
  padding-top: 3.76em;
}

.pad-btm {
  padding-bottom: 3.76em;
}

/**
 * flex
 */
.flex-wrap {
  display: flex;
  flex-direction: column;
}
.flex-wrap.wrap {
  flex-wrap: wrap;
  flex-direction: row;
}
@media (min-width: 64em) {
  .flex-wrap {
    flex-direction: row;
  }
  .flex-wrap .half {
    flex: 1;
    flex-basis: 50%;
  }
  .flex-wrap .half.grow-vis {
    flex-basis: 65%;
  }
  .flex-wrap .third {
    flex: 1;
    flex-basis: 33.33%;
  }
  .flex-wrap.col {
    flex-direction: column;
  }
}

.cont-just-end,
.just-cont-center-row,
.img-align-item-center,
.cont-align-end,
.just-cont-center,
.just-cont-between,
.align-items-center,
.img-align-end {
  display: flex;
}

.img-align-end {
  align-items: flex-end;
}

.img-align-item-center {
  align-items: center;
}

.cont-align-end {
  flex-direction: column;
  justify-content: flex-end;
}

.cont-just-end {
  justify-content: flex-end;
}

.just-cont-between {
  flex-direction: column;
  justify-content: space-between;
}

.just-cont-center {
  flex-direction: column;
  justify-content: center;
}

.just-cont-center-row {
  justify-content: center;
}

.align-items-center {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  font-size: 2em;
}
nav .fa-bars {
  color: #fff;
}
nav .logo {
  max-height: 40px;
}
nav .mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0.5em;
  z-index: 5;
  position: relative;
}
nav .desktop-nav {
  padding: 1em;
  position: fixed;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  transition: all 0.5s ease;
  background-color: #000;
  z-index: 3;
  transition: top 0s linear;
}
nav .desktop-nav.active {
  transition: top 0.3s linear;
  top: 70px;
}
nav .desktop-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
nav .desktop-nav ul .logo-wrapper {
  display: none;
}
nav .desktop-nav ul li {
  padding: 1em 0;
}
@media (min-width: 48em) {
  nav {
    font-size: 1em;
    height: 0;
  }
  nav .mobile-nav {
    display: none;
  }
  nav .desktop-nav {
    position: relative;
    top: 0;
  }
  nav .desktop-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .desktop-nav ul .logo-wrapper {
    display: block;
  }
  nav .desktop-nav ul li {
    padding: 0 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
