@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100;600&display=swap');


*,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
  background-color: $base-background-color;
	color: $base-font-color;
  font-family: $body-font;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.6;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.8
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*2;
  }
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.overflow-wrapper{
	overflow-x: hidden;
	overflow-y:hidden;
}

a {
  color: $base-accent-color;
  transition: color $base-transition-duration $base-transition-timing;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($base-accent-color, 10%);
  }
}

ul {
  padding: 0;
  list-style: none;
}

/**
 * Typography
 */
 p {
  margin: 0 0 $base-spacing;
}

@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

#{headings(1,6)} {
	line-height: $header-line-height;
}


  //**********************************

img {
  max-width: 100%;
}

.bg-img {
  width:100%;
  @include bg-img(url("https://public-619e3.firebaseapp.com/Death-Star/detail_sml.jpg"), 50% 50%, cover);
}

.detail {
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 0 $base-spacing*2;
  background-image: url(https://public-619e3.firebaseapp.com/Death-Star/detail_sml.jpg);
  background-position: center center;
  background-size: cover;

  @media #{$mq-xlarge} and #{$mq-retina} {
    background-image: url(https://public-619e3.firebaseapp.com/Death-Star/detail_sml@2x.jpg);
  }

  @media #{$mq-medium} {
    background-image: url(https://public-619e3.firebaseapp.com/Death-Star/detail_med.jpg);
  }

  @media #{$mq-medium} and #{$mq-retina} {
    background-image: url(https://public-619e3.firebaseapp.com/Death-Star/detail_med@2x.jpg);
  }

  @media #{$mq-large} {
    background-image: url(https://public-619e3.firebaseapp.com/Death-Star/detail_lrg.jpg);
  }

  @media #{$mq-large} and #{$mq-retina} {
    background-image: url(https://public-619e3.firebaseapp.com/Death-Star/detail_lrg@2x.jpg);
  }

  @media #{$mq-xlarge} {
    background-image: url(https://public-619e3.firebaseapp.com/Death-Star/detail_xlrg.jpg);
  }

  @media #{$mq-xlarge} and #{$mq-retina} {
    background-image: url(https://public-619e3.firebaseapp.com/Death-Star/detail_lrg@2x.jpg);
  }

}





//imgs as bg images
.box-wrapper{
  width: 100%;
  height: 70vw;
  .media-box{
    position: relative; 
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      width:100%;
      height:100%;
      position: absolute;
      bottom: 1px;
      left: 0;
      -o-object-fit: cover; 
      object-fit: cover;
      -o-object-position: 50% 50%; 
      object-position: 50% 50%;
    } 
  } 
  .overlay::after{
    @include after(1);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
  }
  @media #{$mq-medium} {
    height: 100%;
  }
}

figure {
  margin: 0;
  z-index: 1;
  width: 100%;
  position: relative;
  svg{
    width: 100%;
    z-index: 1;
  }
}

svg {
  overflow: visible !important;
}



.wrapper {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 8%;
    // padding: $base-spacing*2 0;
  }

  @media #{$mq-large} {
    margin: 0 12%;
  }

  @media #{$mq-xlarge} {
    margin: 0 18%;
  }
}





nav {
  background-color: #fff;
  border-bottom: 1px solid #555;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.icon{
  flex:1;
  width: 100%;
  .toggle {
    float: right;
    margin: 20px;
    color: #222;
    font-size: 30px;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.list-item {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -4px;
  display: none;
  padding-bottom: 20px;
  li{
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    display: block;
    float: none;
    a{
      color:#222;
      &:hover{
        color:red;
      }
    }
  }
}




  @media (min-width: 992px) {
    nav{
      flex-wrap: nowrap;
    }
    .icon {
      display: none;
    }
    .list-item {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0;
    }
  }
